@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

.park_card {
    background-color: #95AFBA;
    display: flex;
    border: 1px solid tan;
    flex-direction: column;
    margin: 0px 10px;
    padding: 10px;
    width: 150px;
    height: 225px;
}

h3, h4, h5 {
    margin: 5px 5px;
}


header {
    display: flex;
    justify-content: left;
    background-color: #FFFFFF;
    margin-top: 20px;
}

body {
    width: 1000px;
    background-color: #BDC4A7;
    font-family: 'Rowdies', sans-serif;

}


#areas_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 600px;
    height: 500px;
    padding: 0px;
    
}


.guests {
    border: 1px solid tan;
    padding: 10px 10px;
    width: 250px;
    height: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #D5E1A3;
}

#guest-list-title {
display: block;
margin-left: 20px;
}

.servicesList {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 20px 10px;
    border: 1px solid tan;
    background-color: #D5E1A3;
    padding: 5px 10px;


}

.main-box {
    display: flex;
    width: 1200px;
}
.serviceListItem {
    margin-right: 5px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #3F7CAC;
    margin-top: 20px;

}

.footer-item {
    margin: 10px;
}

.image {
    width: 500px;
}